.navbar {
    background-color: #333;
}

.navbar-default .navbar-nav > li > a {
    color: #efefef;
}

.navbar-default .navbar-brand {
    color: #efefef;


.navbar-default .navbar-nav > li > a:hover {
    color: #efefef;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #999;
    color: #efefef;
}